.hero {
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  padding-bottom: 10em;
  padding-top: 10em;

  .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em;
  }

  .hero-inner {
    margin: auto;
    text-align: center;

    .hero-copy {
      text-align: center;
      
      h1 {
        font-size: 1.6em;
        margin-bottom: .5em;
        color: #fff;
        @include media(600px) {
          font-size: $h1-font-size * 1.1;
        }
        @include media(1000px) {
          font-size: $h1-font-size * 1.3;
        }
        @include media(1200px) {
          font-size: $h1-font-size * 1.5;
        }
        @include media(1500px) {
          font-size: $h1-font-size * 1.7;
        }
      }

      p {
        margin: auto;
        margin-bottom: 3em; 
        font-weight: 200;
        line-height: 1.4em;
        color: #fff;
        @include media(600px) {
          font-size: $base-font-size * 1.1;
        }
        @include media(1000px) {
          font-size: $base-font-size * 1.3;
        }
        @include media(1200px) {
          font-size: $base-font-size * 1.5;
        }
        @include media(1500px) {
          font-size: $base-font-size * 1.7;
        }
      }
    }

    button {
      @include media(600px) {
        font-size: $base-font-size * 1.1;
      }
      @include media(1200px) {
        font-size: $base-font-size * 1.3;
      }      
    }
  }
}
