# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/
 
# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
 
# Plugins - ignore these specific plugins
wp-content/plugins/wp-ultimate-csv-importer

# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
wp-content/themes/*
!wp-content/themes/Explorable/
!wp-content/themes/explorable-child

# Theme specific dev directories to ignore
wp-content/themes/explorable-child/.sass-cache/
wp-content/themes/explorable-child/node_modules/
wp-content/themes/explorable-child/npm-debug.log
wp-content/themes/explorable-child/bower_compents/

